# Code to load data from CSV to a DB on Postgres using Python

In [2]:
import pandas as pd
import os

In [3]:
pd.__version__

'1.5.2'

## Setting Up Database Connection

In [4]:
# package to connect to the DB
from sqlalchemy import create_engine

In [5]:
# connecting to postgres and to the ny_taxi DB
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
# Checking the connection
engine.connect()

## Reading the data file

In [7]:
WORKING_DIR = os.getcwd()

In [8]:
DATA_DIR = 'ny_taxi_postgres_data'

In [9]:
DATA_FILE = 'yellow_tripdata_2021-01.csv'

In [10]:
FULL_PATH = os.path.join(WORKING_DIR,DATA_DIR,DATA_FILE)

In [11]:
print(FULL_PATH)

C:\Users\SANYA\Documents\PersonalProjects\Zoomcamp\data-engineering-zoomcamp-project\week1\2_docker_sql\ny_taxi_postgres_data\yellow_tripdata_2021-01.csv

## Batching the Dataset

In [37]:
# to process only the first 100 rows
# df = pd.read_csv(FULL_PATH, nrows=100)

# Processing the dataset in batches
df_iter = pd.read_csv(FULL_PATH, iterator=True, chunksize=100000, low_memory=False) #nrows=200000,

In [38]:
# iterating through the batches of data
df = next(df_iter)

In [39]:
# Checking the size of each batch
len(df)

100000

In [40]:
# Changing the datatype of the datetime colums recording pickup and dropoff time
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
# Looking at the table schema based on the DB it is connecting to
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

## Inserting table header only

In [17]:
# Extracting only the table header to use it for table definition in the DB and then insert only that into the table yellow_taxi_data
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [44]:
# testing
print(type(df_iter))
print(len(df.index))

<class 'pandas.io.parsers.readers.TextFileReader'>
69765

## Inserting first data chunk into the table

In [41]:
# Inserting data rows into the DB into the table yellow_taxi_data
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 5.45 s
Wall time: 12 s

1000

## Inserting subsequent data chunks into the table using a loop

In [42]:
from time import time

In [43]:
loop = True
while loop:
    t_start = time()
    
    # trying to catch the error thrown when the iterator becomes empty
    try:
        df = next(df_iter)
    except StopIteration:
        loop = False
        print("Iteration is stopped")
        break
    
    # Changing the datatype of the datetime colums recording pickup and dropoff time
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    
    print(f'Finished inserting chunk in {(t_end-t_start):.3f} seconds')

Finished inserting chunk in 17.788
Finished inserting chunk in 21.415
Finished inserting chunk in 28.744
Finished inserting chunk in 15.620
Finished inserting chunk in 15.413
Finished inserting chunk in 20.902
Finished inserting chunk in 21.550
Finished inserting chunk in 14.949
Finished inserting chunk in 16.456
Finished inserting chunk in 15.407
Finished inserting chunk in 17.152

C:\Users\SANYA\AppData\Local\Temp\ipykernel_53020\358944535.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Finished inserting chunk in 16.178
Finished inserting chunk in 22.056
Iteration is stopped

## Data Exploration Commands (Optional)

In [48]:
# Optional exploration of the Dataset
df.dtypes

VendorID                        float64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag              float64
PULocationID                      int64
DOLocationID                      int64
payment_type                    float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [49]:
df.shape

(69765, 18)