# Batch Processing Homework
* Data set used = [HVFHW June 2021] (https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz)
* Running the Spark Master and one worker cluster locally

In [1]:
import pyspark
from pyspark.sql import SparkSession
import pandas as p

In [2]:
spark = SparkSession.builder \
    .master("spark://de-zoomcamp.us-central1-c.c.blissful-flames-375219.internal:7077") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/02 20:46:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [1]:
import os

# Setting the working directory
coding_dir = '/home/sanyashireen/week_5_homework/code'
data_dir = '/home/sanyashireen/week_5_homework/data'
parent_dir = '/home/sanyashireen/week_5_homework'

# Moving to the data directory
os.chdir(parent_dir)
print(f'Current directory: {os.getcwd()}')

Current directory: /home/sanyashireen/week_5_homework

## Downloading data from web to local system

In [2]:
# extracting zipped csv file from the web
!ls
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz -P '/home/sanyashireen/week_5_homework/data/'

code  data  lib
--2023-03-03 01:29:18--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230303T012919Z&X-Amz-Expires=300&X-Amz-Signature=6c59cb0e69bb7b8d039ac46c1751c22c3da0b369ac4dff1e14e29e522db1ca9b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-03 01:29:19--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230303%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230303T012919Z&X-Amz-Expires=300&X-Amz-Signature=6c59cb0e69bb7b8d039ac46c1751c22c3da0b369ac4dff1e14e29e522db1ca9b&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘/home/sanyashireen/week_5_homework/data/fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  47.0MB/s    in 3.7s

2023-03-03 01:29:23 (45.1 MB/s) - ‘/home/sanyashireen/week_5_homework/data/fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [5]:
#Counting number of rows in the file
!zcat data/fhvhv_tripdata_2021-06.csv.gz | wc -l
!zcat data/fhvhv_tripdata_2021-06.csv.gz | head -n 10

14961893
dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,
B02510,2021-06-01 00:18:15,2021-06-01 00:25:47,49,17,N,
B02510,2021-06-01 00:33:06,2021-06-01 00:42:46,49,225,N,
B02510,2021-06-01 00:46:27,2021-06-01 00:56:50,225,177,N,
B02764,2021-06-01 00:48:06,2021-06-01 01:04:10,209,45,N,B02764

gzip: stdout: Broken pipe

## Creating Pandas Dataframe to read few lines and extract the schema

In [ ]:
#!zcat data/fhvhv_tripdata_2021-06.csv.gz | head -n 101 > head.csv

In [7]:
# defining useful variables
data_file = 'fhvhv_tripdata_2021-06.csv.gz'

In [8]:
pandas_df = p.read_csv(f'{data_dir}/{data_file}', nrows=100)

In [9]:
# Removing rows with null data so we can avoid the error when convering to spark df for schema purpose
pandas_df= pandas_df[pandas_df.notnull().all(1)]

In [10]:
pandas_df.shape

(66, 7)

In [11]:
pandas_df.head(5)

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
8,B02764,2021-06-01 00:48:06,2021-06-01 01:04:10,209,45,N,B02764

In [12]:
pandas_df.dtypes

dispatching_base_num      object
pickup_datetime           object
dropoff_datetime          object
PULocationID               int64
DOLocationID               int64
SR_Flag                   object
Affiliated_base_number    object
dtype: object

In [13]:
spark.createDataFrame(pandas_df).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

## Creating PySpark Dataframe by passing the schema

In [14]:
from pyspark.sql import types

In [15]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)])

In [16]:
pyspark_df = spark.read \
                       .option("header", "true") \
                       .schema(schema) \
                       .csv(f'{data_dir}/{data_file}')

In [17]:
pyspark_df.head(3)

[Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 2, 41), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 7, 46), PULocationID=174, DOLocationID=18, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 16, 16), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 21, 14), PULocationID=32, DOLocationID=254, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 27, 1), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 42, 11), PULocationID=240, DOLocationID=127, SR_Flag='N', Affiliated_base_number='B02764')]

## Writing the partitions to data folder pq/fhvhv

In [18]:
# set the partition size to 12
pyspark_df = pyspark_df.repartition(12)

In [21]:
pyspark_df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [23]:
# folder to write the partition into
data_partition_dir = 'pq/fhvhv/2021/06'
pyspark_df.write.parquet(f'{data_dir}/pq/fhvhv/2021/06/', mode='overwrite')

## Uploading data to GCS from local

In [ ]:
# Execute this from the data_dir = '/home/sanyashireen/week_5_homework/data'
!gsutil -m cp -r pq/fhvhv/2021/06/ gs://dtc_data_lake_blissful-flames-375219/pq/fhvhv/2021/06